#main{
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
  }
  
  p{
    font-size: 20px;
  }

  .mbtiDescription {
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 30px;
  }
  
  .mbtiBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table, th, td {
    border: 1px solid black;
    padding: 8px;
    font-size: 25px;
  }
  
  th {
    background-color: #f2f2f2;
  }

  .kakao {
    font-size: 20px; /* 버튼의 글꼴 크기를 조정합니다. */
    padding: 10px 20px; /* 버튼의 내부 여백을 조정합니다. */
    display: block; /* 버튼을 블록 요소로 변경합니다. */
    margin: 0 auto; /* 가운데 정렬을 설정합니다. */
  }