#main{
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
  }
  
  p{
    font-size: 20px;
  }

  .mbtiDescription {
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 30px;
  }
  
  .mbtiBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table, th, td {
    border: 1px solid black;
    padding: 8px;
    font-size: 25px;
  }
  
  th {
    background-color: #f2f2f2;
  }